<!DOCTYPE html>
<html>
<head>
	<title>Skills Watcher</title>
	<link rel="stylesheet" type="text/css" href="main.css">
</head>
<body data-id="<%= id %>">
	<h1><%= name  %></h1>
	<p><%= results %></p>

	<div id="app"></div>
	<script type="text/javascript" src="/skill.js"></script>
</body>
</html>